@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo {
  font-family: "Oswald", sans-serif;
  font-size: 45px;
}

.main-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 65px;
  width: 100vw;
  padding: 0 10vw;
  color: #17cefc;
  z-index: 1;
  transition: 0.4s ease-out;
}

.main-header a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

.main-header .nav-links {
  display: flex;
  list-style: none;
}

.main-header .nav-links .nav-link {
  transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.main-header .nav-links .nav-link:nth-of-type(2) {
  transition-delay: 0.1s;
}

.main-header .nav-links .nav-link:nth-of-type(3) {
  transition-delay: 0.2s;
}

.main-header .nav-links .nav-link:nth-of-type(4) {
  transition-delay: 0.3s;
}

.main-header .nav-links .nav-link:nth-of-type(5) {
  transition-delay: 0.4s;
}

.main-header .nav-links .nav-link a {
  margin: 0.2rem;
  padding: 1rem 0.5rem;
}

.main-header .nav-links .nav-link a:hover {
  background: rgba(218, 216, 204, 0.5);
}

.main-header .nav-links .logo {
  display: block;
  background-image: url(#);
}

.main-header .menu-icon {
  position: relative;
  padding: 26px 10px;
  cursor: pointer;
  z-index: 1;
  display: none;
}

.main-header .menu-icon__line {
  display: block;
  position: relative;
  background: #17cefc;
  height: 2px;
  width: 20px;
  border-radius: 4px;
  transition: background 0.8s ease;
}

.main-header .menu-icon__line::before, .main-header .menu-icon__line::after {
  display: block;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background: #17cefc;
  transition: background 0.8s ease;
}

.main-header .menu-icon__line::before {
  transform: translateY(-5px);
}

.main-header .menu-icon__line::after {
  transform: translateY(5px);
}

.main-header .menu-btn {
  position: absolute;
  top: -100px;
}

.main-header .menu-btn:focus ~ .menu-icon .menu-icon__line::before {
  transform: translateY(-7px);
}

.main-header .menu-btn:focus ~ .menu-icon .menu-icon__line::after {
  transform: translateY(7px);
}

.main-header.scrolled {
  height: 50px;
  background: rgba(218, 216, 204, 0.9);
  color: #4e8891;
}

.main-header.scrolled .menu-icon__line, .main-header.scrolled .menu-icon__line::before, .main-header.scrolled .menu-icon__line::after {
  background: white;
}

@media screen and (max-width: 767px) {
  .main-header .menu-icon {
    display: block;
  }
  .main-header .menu-icon__line {
    animation: closedMid 0.8s backwards;
    animation-direction: reverse;
  }
  .main-header .menu-icon__line::before {
    animation: closedTop 0.8s backwards;
    animation-direction: reverse;
  }
  .main-header .menu-icon__line::after {
    animation: closedBtm 0.8s backwards;
    animation-direction: reverse;
  }
  .main-header .nav-links {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10rem 0;
    width: 100vw;
    height: 100vh;
    font-size: 2rm;
    color: #17cefc;
    background: #dad8cc;
    transition: opacity 0.8s 0.5s, clip-path 1s 0.5s;
    clip-path: circle(300px at top right);
  }
  .main-header .nav-links .nav-link {
    opacity: 0;
    transform: translateX(100%);
    width: 100%;
    text-align: center;
  }
  .main-header .nav-links .nav-link a {
    display: block;
    padding: 2rem;
  }
  .main-header .menu-btn:checked ~ .nav-links {
    opacity: 1;
    clip-path: circle(100% at center);
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(1) {
    transition-delay: 0.7s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(2) {
    transition-delay: 0.8s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(3) {
    transition-delay: 0.9s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(4) {
    transition-delay: 1s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(5) {
    transition-delay: 1.1s;
  }
  .main-header .menu-btn:checked ~ .menu-icon {
    border-radius: 50%;
    animation: pulse 1s;
  }
  .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line {
    background: #17cefc;
    animation: openMid 0.8s forwards;
  }
  .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line::before {
    background: #17cefc;
    animation: openTop 0.8s forwards;
  }
  .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line::after {
    background: #17cefc;
    animation: openBtm 0.8s forwards;
  }
}

@keyframes pulse {
  from {
    box-shadow: 0 0 0 0px rgba(225, 225, 225, 0.6);
    background: rgba(225, 225, 225, 0.6);
  }
  to {
    box-shadow: 0 0 0 1000px rgba(225, 225, 225, 0);
    background: rgba(225, 225, 225, 0);
  }
}

@keyframes openTop {
  0% {
    transform: translateY(-5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

@keyframes openMid {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes openBtm {
  0% {
    transform: translateY(5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

@keyframes closedTop {
  0% {
    transform: translateY(-5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

@keyframes closedMid {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes closedBtm {
  0% {
    transform: translateY(5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

.sleek__social {
  background: #ecf0f1;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 33.33%;
  text-align: center;
}

.sleek__social .btn {
  display: inline-block;
  background: #fff;
  width: 75px;
  height: 75px;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 50px 35px rgba(0, 0, 0, 0.1);
}

.sleek__social .btn::before {
  transition: all 0.35s cubic-bezier(0.31, -0.205, 0.43, 1.8);
  content: "";
  width: 125%;
  height: 125%;
  position: absolute;
  top: -10%;
  left: -10%;
}

.sleek__social .btn .fab {
  transition: all 0.35s cubic-bezier(0.31, -0.205, 0.43, 1.8);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 2.5rem;
  line-height: 75px;
}

.sleek__social .btn__sleek--inactive.facebook::before, .sleek__social .facebook.btn::before {
  background: #3b5998;
}

.sleek__social .btn__sleek--inactive.facebook .fab, .sleek__social .facebook.btn .fab {
  color: #3b5998;
}

.sleek__social .btn__sleek--inactive.twitter::before, .sleek__social .twitter.btn::before {
  background: #3cf;
}

.sleek__social .btn__sleek--inactive.twitter .fab, .sleek__social .twitter.btn .fab {
  color: #3cf;
}

.sleek__social .btn__sleek--inactive.youtube::before, .sleek__social .youtube.btn::before {
  background: #c4302b;
}

.sleek__social .btn__sleek--inactive.youtube .fab, .sleek__social .youtube.btn .fab {
  color: #c4302b;
}

.sleek__social .btn__sleek--inactive.instagram::before, .sleek__social .instagram.btn::before {
  background: #e95950;
}

.sleek__social .btn__sleek--inactive.instagram .fab, .sleek__social .instagram.btn .fab {
  color: #e95950;
}

.sleek__social .btn__sleek--inactive.linkedin::before, .sleek__social .linkedin.btn::before {
  background: #0e76a8;
}

.sleek__social .btn__sleek--inactive.linkedin .fab, .sleek__social .linkedin.btn .fab {
  color: #0e76a8;
}

.sleek__social .btn__sleek--inactive::before, .sleek__social .btn::before {
  transform: translate(-100%, -100%) rotate(45deg);
}

.sleek__social .btn__sleek--inactive .fab, .sleek__social .btn .fab {
  transform: scale(0.8);
}

.sleek__social .btn__sleek--active::before, .sleek__social .btn:focus::before, .sleek__social .btn:hover::before {
  transform: translate(-26%, -26%) rotate(45deg);
}

.sleek__social .btn__sleek--active .fab, .sleek__social .btn:focus .fab, .sleek__social .btn:hover .fab {
  color: #fff;
  transform: scale(1);
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  line-height: 1.6;
}

#showcase {
  background-image: url(/img/Eggs-in-nesting-box.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

#showcase h1 {
  font-size: 60px;
  line-height: 1.2;
}

#showcase p {
  font-size: 25px;
}

#showcase .button {
  font-size: 18px;
  text-decoration: none;
  color: white;
  border: 5px solid white;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 20px;
}

#showcase .button:hover {
  background: #17cefc;
  color: honeydew;
}
/*# sourceMappingURL=Mainbf.css.map */